<div class="row">
  <div class="col-12">
    <div class="col-10 float-left">
      <div class="list-group-item clearfix">
        <div class="float-left">
            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            <h6 class="list-group-item-text">Phone: {{ contact.phone }}</h6>
            <h6 class="list-group-item-text">Email: {{ contact.email }}</h6>
        </div>
        <div class="float-right">
            <button class="btn btn-danger">x</button>
            <button class="btn btn-light" (click)="showModalHandler($event)">e</button>
        </div>
      </div>
    </div>
   <div>
      <app-modal [modalShow]="modalShow" [importedContact]="contact"
        (sendModalClose)="closeModalHandler($event)">
      </app-modal>
    </div>
  </div>
</div>