

<div class="outer">
  <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm">
      <p><strong>Edit Contact: {{contact.name}}</strong></p>
      <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="name" #nameCtrl="ngModel" required/>
      </div>
      <div class="form-group">
          <input class="form-control" type="text" name="phone" placeholder="Phone" [(ngModel)]="phone" #phoneCtrl="ngModel" required/>
      </div>
      <div class="form-group">
          <input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)]="email" #emailCtrl="ngModel" required/>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Save</button>
          <button class="btn btn-default" (click)="onCancel($event)">Cancel</button>
      </div>
  </form>
  <!-- (ngSubmit)="onSubmit(editForm); editForm.resetForm()" -->
</div>
